<div id="header" style="background-image: 
    linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)),
    url(assets/images/articles/header-image.jpg);">
    <app-navbar></app-navbar>
    <div id="top-news-container">
        <p>2020. 04. 27. • Hírek</p>
        <h1>ELTOLJÁK A WATCH DOGS: LEGION KIADÁSÁT</h1>
        <button>Megtekintés</button>
    </div>
</div>
<div id="categories-container">
    <div class="category-container">
        <div class="category-circle">
            <img src="">
        </div>
        <p class="category-title">Hírek</p>
    </div>
    <div class="category-container">
        <div class="category-circle">
            <img src="">
        </div>
        <p class="category-title">PC</p>
    </div>
    <div class="category-container">
        <div class="category-circle">
            <img src="">
        </div>
        <p class="category-title">XBOX</p>
    </div>
    <div class="category-container">
        <div class="category-circle">
            <img src="">
        </div>
        <p class="category-title">PS</p>
    </div>
    <div class="category-container">
        <div class="category-circle">
            <img src="">
        </div>
        <p class="category-title">SWITCH</p>
    </div>
</div>
<app-banner></app-banner>