.container {
    margin-left: 30px;
    .articles {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        .body {
            width: 270px;
            margin: 20px 0px 15px 0px;
            cursor: pointer;
            outline: none;

            .thumbnail {
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center; 
                width: 100%;
                box-sizing: border-box;
                height: 140px;
                position: relative;
                border: solid 5px;
                outline: 0;

                .category {
                    position: absolute;
                    padding: 1px 15px;
                    font-size: 14px;
                    font-weight: 600;
                    color: white;
                    text-transform: uppercase;
                    left: 5px;
                    top: 5px;
                }
            }

            .date {
                color: #666666;
                font-size: 14px;
                padding-top: 7px;
            }

            .title {
                font-weight: 600;
                font-size: 14px;
                outline: 0;
            }

        }

    }

}