<div class="container">
    <h1>Hozzászólások:</h1>
    <div class="comments">
        <div *ngFor="let comment of comments.slice(0, 3).reverse()" class="body">
            <div class="comment-clickable-div" [routerLink]="['/article', comment.article]">
                <div class="category" [ngStyle]="{'background-color': categories[getArticleById(comment.article).categoryId].color}">
                    <p>{{ categories[getArticleById(comment.article).categoryId].name }}</p>
                </div>
                <div class="title">
                    <p>{{ getArticleById(comment.article).name }}</p>
                </div>
                <div class="comment">
                    <p class="sender">{{ comment.sender }}<span> • {{ comment.date | date: 'yyyy. MM. dd.'}}</span></p>
                    <p class="message">{{ comment.body }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
