<div class="container">
    <h1>Hozzászólások:</h1>
    <div class="comments">
        <div *ngFor="let comment of comments" class="body">
            <div class="comment-clickable-div" [routerLink]="['/article', comment.article]">
                <div class="category" [ngStyle]="{'background-color': 'yellow'}">
                    <p>CATEGORY NAME</p>
                </div>
                <div class="title">
                    <p></p>
                </div>
                <div class="comment">
                    <p class="sender">{{ comment.sender }}<span> • {{ comment.date }}</span></p>
                    <p class="message">{{ comment.body }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
