<div class="container">
    <h1>Hozzászólások:</h1>
    <div class="comments">
        <div *ngFor="let comment of comments" class="body">
            <div [routerLink]="['/article', comment.article]">
                <div class="category" [ngStyle]="{'background-color': articles[comment.article].category.color}">
                    <p>{{ articles[comment.article].category.name }}</p>
                </div>
                <div class="title">
                    <p>{{ articles[comment.article].name }}</p>
                </div>
                <div class="comment">
                    <p class="sender">{{ comment.sender }}<span> • {{ comment.date }}</span></p>
                    <p class="message">{{ comment.body }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
